@model tunisiaToday.Models.Article

@{
    ViewData["Title"] = "Edit";
}



<h4 class="h-100" style="margin-top:70px">Modification article</h4>
<hr />
<div class="col-md-4 mx-auto">
    @if (@Model.ImageUrl != null)
    {
        <img src="@Model.ImageUrl" style="max-height:300px; width:100%" />
    }
</div>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <input asp-for="DatePublication" type="hidden" />

            <input asp-for="Maj" type="hidden" />



            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label id="uploadBox" class="control-label">Image</label>
                <input type="file" asp-for="ImageUrl" id="uploadBox" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" class="form-control"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Previsualisation" class="control-label"></label>
                <textarea asp-for="Previsualisation" class="form-control"></textarea>
                <span asp-validation-for="Previsualisation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="estUne" class="control-label"></label>
                <input asp-for="estUne" class="form-control" />
                <span asp-validation-for="estUne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-md-4">
        @if (@Model.ImageUrl != null)
        {
            <img src="@Model.ImageUrl" style="max-height:300px; width:100%" />
        }
    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
